@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}

body {
    background-color: var(--primary-color);
    font-family : 'Poppins', sans-serif;
    margin: 0;
}


#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5pc rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info {
    color:#eee;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height:100%;
    transform:translateY(101%);
    transition: transform 0.3s ease-in;
    color:black;
}

.overview span.bold{
    background-color: white;
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview span.bold {
    background-color:#fff;
}

#tags {
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 50px;
    margin:5px;
    display: inline-block;
    cursor: pointer;
    font-family:inherit;
    font-weight:bold;
    font-size: 0.9rem;
}

.tag.highlight {
    background-color:rgb(9, 255, 0);
}

.message {
    color: white;
    font-size:2rem;

}
