@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}

body {
    background-color: var(--primary-color);
    font-family : 'Poppins', sans-serif;
}


.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.column_content {
    display:flex;
    flex-direction:column;
    width:100%;
    position:relative;

}

.row_content {
    display:flex;
    flex-direction:row;
}

.movie {
    width:245px;
    margin: 1rem;
    height:auto;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%;
    
}

.movie-info {
    color:#eee;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    text-align:left;
}

.movie-info h3 {
    margin-top: 10px;
    font-size:1rem;
    margin-right:2px;
}



.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    font-size:0.7rem;
    margin-left:2px;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height:100%;
    transform:translateY(101%);
    transition: transform 0.3s ease-in;
    color:black;
    font-size:0.7rem;
}

.overview span.bold{
    background-color: white;
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview span.bold {
    background-color:#fff;
}

#tags {
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 7px auto;
}

.tag{
    color:white;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 50px;
    margin:5px;
    display: inline-block;
    cursor: pointer;
    font-family:inherit;
    font-weight:bold;
    font-size: 0.9rem;
}

.tag.highlight {
    background-color:rgb(9, 255, 0);
}

.message {
    color: white;
    font-size:2rem;

}

#sortbyer {
    padding-top:1%;
    padding-left:1%;  
    position:relative;
    top:1%;
}

#sortbyer select {
    background-color:rgb(248, 195, 49);
    border-radius:2%;
}

#tags_and_container {
    margin-right:8%;
}

@media screen and (max-width:1140px) {
    #big_container{
        display:flex;
        flex-direction:column;
    }

    #sortbyer {
        text-align:center;
        padding-left:0%;
    }


    
}

