@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}


header {
    padding:1rem;

    background-color: var(--secondary-color);
}

.row_header {
    display:flex;
    justify-content: space-between;
    position:relative;
    left:3.5%;
}



#logo {
    width:100%;
    height:auto;
    width:60%;
    
}

.link {
    position:relative;
    top:15px;
}


a{
    text-decoration:none;
    font-family:inherit;
    color:#fff;
    font-size:1rem;
    font-weight: bold;
}



#link {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    
}

a:hover {
    color:orange;
}



.search {
    background-color: transparent;
    width:80%;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    position:relative;
    top:30px;
    right:7%;
    
    
}



.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}

.orange {
    font-weight:bold;
    color:orange;
} 

@media screen and (max-width: 950px) {
    .row_header {
        flex-direction:column;
        text-align:center;
    }

    #logo {
        width:100px;
        left:0%;
        margin-bottom:20px;
    }

    .link {
        margin-bottom:2px;
    }

    .search {
        margin-top:20px;
    }
}




