@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}


header {
    padding:1rem;
    display:flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
}


#logo {
    width:100%;
    height:auto;
    width:70%;
    position:relative;
    left:7%;
}

a{
    text-decoration:none;
    font-family:inherit;
    color:#fff;
    font-size:1rem;
    font-weight: bold;
}

#link {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    
}

.search {
    background-color: transparent;
    width:120%;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    position:relative;
    top:50%;
    right:25%;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}




