* {
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}

body {
    background-color: var(--primary-color);
    font-family : 'Poppins', sans-serif;
    margin: 0;
    color:white;
}

#forms_container {
    margin-top:3%;
}

.conditions {
    font-size: 0.7rem;
}




